popjavac/xml/additional-parser-infos.xsd

<?xml version="1.0"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="popjparser-infos">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element name="popc-parclass">
					<xs:complexType>
						<xs:attribute name="file" type="xs:string"/>
						<xs:attribute name="name" type="xs:string"/>
						<xs:attribute name="classuid" type="xs:integer" use="required"/>
						<xs:attribute name="hasDestructor" type="xs:boolean" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
